<h1>Event Catalog</h1>

<% @events.public_event.each do |event| %>
  <hr>
  <p>Title: <%= event.title %></p>
  <p>Creator: <%= event.creator.name %></p>
  <p>
    <%= link_to 'Details', event_path(event) %>
  </p>
  <hr>

<% end %>
